<%= f.fields_for :answers, answer do |a| %>
  <fieldset class="form-field form-field-collection">
    <legend><%= question.text %></legend>
    <%= hidden_field_tag("submission[answers_attributes][#{a.index}][question_id]", question.id) %>
    <div>
      <%= a.radio_button :choice, :not_at_all, required: true %>
      <%= a.label :choice, "not at all", value: "not_at_all" %>
    </div>
    <div>
      <%= a.radio_button :choice, :a_little_bit, required: true %>
      <%= a.label :choice, "a little bit", value: "a_little_bit" %>
    </div>
    <div>
      <%= a.radio_button :choice, :ok, required: true %>
      <%= a.label :choice, "ok", value: "ok" %>
    </div>
    <div>
      <%= a.radio_button :choice, :well, required: true %>
      <%= a.label :choice, "well", value: "well" %>
    </div>
    </fieldset>
  </fieldset>
<% end %>
