<nav class="submission-filters">
  <ul class="submission-filters-list">
    <li><%= link_to 'Valid', submissions_valid_path, class: active?("valid") %></li>
    <li><%= link_to 'Rejected', submissions_rejected_path, class: active?("rejected") %></li>
    <li><%= link_to 'To rate', submissions_to_rate_path, class: active?("to_rate") %></li>
    <li><%= link_to 'Results', submissions_results_path, class: active?("results") %></li>
    <li><%= link_to 'Participants', submissions_participants_path, class: active?("participants") %></li>
  </ul>
</nav>
