<% unless submissions.empty? %>
  <h1 class="submissions-table-split-header"><%= table_title %></h1>
  <table class="submissions-table submissions-table-split">
    <thead class="submissions-table-header">
      <tr>
        <th class="submission-header-name">Full name</th>
        <th class="submission-header-narrow submission-mobile-hidden">Email</th>
        <th class="submission-header-narrow submission-mobile-hidden">Average</th>
        <th class="submission-header-narrow" colspan="3"></th>
      </tr>
    </thead>

    <tbody class="submissions-table-body">
      <% submissions.each do |submission| %>
      <tr>
        <td class="submission-body-name"><%= submission.full_name %></td>
        <td class="submission-mobile-hidden"><%= submission.email %></td>
        <td class="submission-mobile-hidden"><%= submission.average_rate if submission.rated? %></td>
        <td><%= link_to 'Show', submission_path(id: submission.id, filter: filter) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
