<%= render 'result_table', { submissions: submissions_accepted, table_title: "accepted" } %>
<%= render 'result_table', { submissions: submissions_waitlist, table_title: "waitlist" } %>

<aside class="aside-widget aside-widget-fixed aside-widget-dashboard">
  <h2 class="aside-widget-header">Download:</h2>
  <ul class="download-list">
    <li><%= link_to_if !submissions_accepted.empty?, "Accepted", csv_download_accepted_path %></li>
    <li><%= link_to_if !submissions_waitlist.empty?, "Waitlist", csv_download_waitlist_path %></li>
  </ul>
  <h2 class="aside-widget-header">Send invitation emails:</h2>
  <li><%= link_to "Send", send_invitation_emails_path, method: :post %></li>
</aside>
