<nav class="submission-filters">
  <ul class="submission-filters-list">
    <li><%= link_to 'Valid', submission_filters_valid_path, class: is_active?("valid") %></li>
    <li><%= link_to 'Rejected', submission_filters_rejected_path, class: is_active?("rejected") %></li>
    <li><%= link_to 'To rate', submission_filters_to_rate_path, class: is_active?("to_rate") %></li>
    <li><%= link_to 'Results', submission_filters_results_path, class: is_active?("results") %></li>
    <li><%= link_to 'Invitations', submission_filters_invitations_path, class: is_active?("invitations") %></li>
  </ul>
</nav>
